# Binaries (ignore all, but allow specific ones in assets)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Allow ffmpeg + ffprobe binaries
!assets/ffmpeg
!assets/ffmpeg.exe
!assets/ffprobe
!assets/ffprobe.exe

# Go build output
bin/
build/
dist/
*.log

# Go workspace files
go.work
go.work.sum

# Dependency directories
vendor/

# OS / editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.bak
*.old

# IDE / editor
.vscode/
.idea/
*.iml

# Coverage / testing
*.cover
*.prof
coverage.out


