altgraph==0.17.4
av==14.4.0
certifi==2025.8.3
charset-normalizer==3.4.3
ctranslate2==4.6.0
faster-whisper==1.2.0
filelock==3.19.1
fsspec==2025.9.0
hf-xet==1.1.10
huggingface-hub==0.35.0
idna==3.10
librosa==0.10.1
macholib==1.16.3
numpy==2.3.3
opencv-python==4.8.1.78
packaging==25.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.8
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
PyYAML==6.0.2
requests==2.32.5
setuptools==80.9.0
tokenizers==0.22.0
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
